# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

autom4te.cache/
autoscan.log
autoscan-*.log
aclocal.m4
config.*
configure
configure.scan
compile
depcomp
install-sh
missing
stamp-h?

# other

.deps/
*.o
.settings/
